<!doctype html>
<title>Hello from Flask</title>
<h1>Pan Bagnat</h1>
<img src="{{ url_for('static', filename = 'pan_bagnat.jpg') }}">
<h1>Pan Pizza</h1>
<img src="{{ url_for('static', filename = 'pan_pizza.jpg') }}">
<h1>Frjtta</h1>
<img src="{{ url_for('static', filename = 'frjtta.jpg') }}">
<h1>Rice and Beans</h1>
<img src="{{ url_for('static', filename = 'rice_and_beans.jpg') }}">
<h1>Bahn Mi</h1>
<img src="{{ url_for('static', filename = 'bahn_mi.jpg') }}">
<h1>Fritters</h1>
<img src="{{ url_for('static', filename = 'fritters.jpg') }}">
<h1>Fresh Herbs with Corn, Asparagus and Chickpeas</h1>
<img src="{{ url_for('static', filename = 'fresh_herbs_with_corn_asparagus_and_chickpeas.jpg') }}">


